.box-info-instructor{
    margin: 60px;
    padding: 25px;
    border-radius: 10px;
}

.box-info-instructor h3{
    color: #445AFF !important;
}


/* .photo-instructor-box{
    background: grey;
    border-radius: 10px;
    margin-top: -40px;
    height: 135%;
} */

.photo-instructor-box{

}


@media (max-width: 991px) {
   .box-info-instructor{
        margin: 20px;
   }
   .box-info-instructor h3{
        margin: 0px;
        font-size: 20px;
   }
   .button_instructor{
        font-size: 10px !important;
        width: 100% !important;
   }
}
