.box-blue-instructor{
    color: white;
    padding: 40px;
    
}

.box-traslate-instructor-blue{
    height: 465px;
    background: #445AFF;
    border-radius: 10px;
}

.box-white-description{
    border-radius: 10px;
    background: white;
    padding: 40px;
    color: black;
}
.img-profesor-instructor img{
    border-radius: 10px !important;
}

/* .box-img-instructor{
    height: 520%;
    background: grey;
    border-radius: 10px;
    margin-top: -250px;
} */

.banner-courses-instructor{
    background: #445AFF;
    border-radius: 10px;
    padding: 25px;
}

@media (max-width: 991px) {
    .box-blue-instructor{
        padding: 30px;
    }
    .box-white-description{
        padding: 25px;
    }
    .box-traslate-instructor-blue{
        height: auto;
        background: #445AFF;
        border-radius: 10px;
    }
    .description-instructor-mobile{
        font-size: 14px;
    }
    .description-instructor-mobile i{
        color: white !important;
    }
}


.example{
    background: red;
    
}
